.menu{
    flex-grow: 0;
}
a{
    color: aquamarine;
    font-size: 45px;
    gap: .625rem;
}
a:visited{
    color: black;
    font-size: 20px;
}
a:hover{
    color: black;
    text-shadow: 5px 5px 10px red;
    cursor: pointer;
}
input:focus{
    border: 5px solid yellowgreen;
}

html{
    font-size: 62.5%;
}
header{
    font-size: 20px;
    }
body{
    background-image: url('./../assets/imagen-de-modelos-para-fondo.webp'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-attachment: fixed; 
            font-family: Arial, sans-serif;
            margin: 0; 
            padding: 0; 
        }
        .logo-container {
            text-align: right; 
            padding: 20px;
            text-align: left;
        }
        .logo{
            max-width: 150px;
        }
        
        main {
            padding: 20px; 
            color: #fff;
            text-align: center;
            font-size: 20px;
        }
        
        footer {
            color: #fff; 
            padding: 10px; 
            text-align: center; 
        }
        .catalog-container { 
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            margin: 1rem 3rem 3rem 3rem;
            gap: 10px;
            color: #fb0000;
        }
        .catalog-container div{
            height: 200px;
        }
        .catalog-container div .product-image{
            width: 100%;
            height: 100%;
        }
        
        .product-card {
            margin-bottom: 20px; 
            padding: 10px; 
            border: 1px solid #ccc; 
            border-radius: 5px; 
            width: calc(33.33% - 20px);
            box-sizing: border-box; 
            font-size: 15px;
            color: yellow;
        }
        
        .product-image {
            max-width: 100%; 
            display: block; 
            margin: 0 auto;
        }
        .icono{
        margin-bottom: 20px; 
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        width: calc(33.33% - 20px);
        box-sizing: border-box; 
        }
        
        header nav ul{
            list-style: none;
        }
        .img-container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            margin: 1rem 3rem 3rem 3rem;
            gap: 16px;
        }
        .img-container div{
            height: 300px;
        }
        .img-container div img{
            width: 100%;
            height: 150%;
            object-fit: cover;
        }
        .discurso{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            color: antiquewhite;
        }
        @media screen and (min-width: 768px){
            header{
                flex-direction: row;
            }
            header nav ul{
                display: flex;
                justify-content: space-evenly;
                gap: .625rem;
            }
            .img-container{
                grid-template-columns: repeat(2, 1fr);
                grid-row: repeat(3, 1fr);
            }
            .catalog-container{
                grid-template-columns: repeat(2, 1fr);
                grid-row: repeat(3, 1fr);
            }
            .icono{
                grid-template-columns: repeat(2, 1fr);
                grid-row: repeat(3, 1fr);
            }
        }
        @media screen and (max-width: 1024px){
            .img-container{
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
        }