/*body de mi proyecto*/
body{
  background-image: url("../assets/imagen-fondo.png");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
/*Realmente no se si esta bien haber hecho un archivo del body pero no se me ocurria otra manera de ponerlo*/