/*todos los imports*/
/*utilidades*/
@import "utilidades/reset";
@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mixins";

/*body*/
/*body de mi proyecto*/
body{
    background-image: url("../assets/imagen-fondo.png");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
/*Realmente no se si esta bien haber hecho un archivo del body pero no se me ocurria otra manera de ponerlo*/

/*componentes*/
@import "componentes/header";
@import "pages/main-index.scss";
@import "pages/main-registrarse";
@import "pages/main-contactos";
@import "pages/main-productos";
@import "pages/main-conocenos";
@import "componentes/footer";

/*media-queries*/
@import "utilidades/media-queries"