.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .product-card {
        background-color: #f0e68c;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;

        h3 {
            font-size: 20px;
            color: #3498db;
            margin: 10px 0;
        }

        p {
            font-size: 16px;
            margin: 10px 0;
            color: black;
        }

        .product-image {
            max-width: 100%;
            height: auto;
            border: 2px solid #3498db;
        }
    }
}