/*main de productos*/
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .product-card {
        background-color: $color-fondo;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;

        h3 {
            font-size: 20px;
            color: $color-uno;
            margin: 10px 0;
        }

        p {
            font-size: 16px;
            margin: 10px 0;
            color: black;
        }

        .product-image {
            max-width: 100%;
            height: auto;
            border: 2px solid $color-uno;
        }

        .gradiante-btn {
            font-size: 20px;
            border-radius: 45px;
            padding: 10px;
            background-image: linear-gradient(to right, deepskyblue, rgba(0, 0, 255, 0.281));
        }
    }
}