body {
    background-image: url('./../../assets/imagen-de-modelos-para-fondo.webp'); 
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif; 
    color: #333; 
    margin: 0; 
    padding: 0; 
  }